[Unit]
Description=My Test Script

[Service]
rnvironment=SERVICE_NAME=Newversion
ExecStart=/usr/sbin/test-systemd.sh /var/log/test-systemd.log
Restart=always

[Install]
WantedBy=multi-user.target
